nav {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: --var(--bg);
}

nav > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}